--- 

layout: default 

--- 

<style> 

  .row { 

    display: flex; 

    flex-wrap: wrap; 

    padding: 0 4px; 

    width: 100%; 

    margin-left: auto; 

    margin-right: auto; 

  } 

  

  /* Create two equal columns that sits next to each other */ 

  .column { 

    flex: 33.333; 

    padding: 0 4px; 

    width:auto; 

  } 

  

  .column img { 

    margin-top: 8px; 

    vertical-align: middle; 

  } 

  @media only screen and (max-device-width: 480px) { 

    .entry { 

    padding-left: 15px; 

    padding-right: 15px; 

    } 

  } 

</style> 

  

  

<article class="gallery"> 

  <div class="entry"> 

    {{ content }}
    
  </div> 

</article> 


</script> 

