--- 

layout: default 

--- 

<style> 

  .row { 

    display: flex; 

    flex-wrap: wrap; 

    padding: 0 4px; 

    width: 100%; 

    margin-left: auto; 

    margin-right: auto; 

  } 

  

  /* Create two equal columns that sits next to each other */ 

  .column { 

    flex: 33.333; 

    padding: 0 4px; 

    width:auto; 

  } 

  

  .column img { 

    margin-top: 8px; 

    vertical-align: middle; 

  } 

  @media only screen and (max-device-width: 480px) { 

    .entry { 

    padding-left: 15px; 

    padding-right: 15px; 

    } 

  } 

</style> 

  

  

<article class="gallery"> 

  <div class="entry"> 

    {{ content }}<hr style="opacity: 0.2;"> 

    <div class="row"> 

      <div class="column"> 

        <img src="DSC_1400.jpg"> 

        <img src="DSC_1712.jpg"> 

        <img src="20240607_155010.jpg">

        <img src="DSC_1327.jpg">

        <img src="DSC_1331.jpg">

        <img src="shared image (2).jpeg">

      </div> 

      <div class="column"> 

        <img src="DSC_1567.jpg"> 

        <img src="DSC_1533.jpg">
        
        <img src="DSC_1334.jpg">

        <img src="DSC_1339.jpg">

        <img src="DSC_1354.jpg">

        <img src="shared image (5).jpeg">

      </div> 

      <div class="column"> 

        <img src="DSC_2884.jpg"> 

        <img src="DSC_2968.jpg">
        
        <img src="DSC_1365.jpg">

        <img src="IMG_20250516_202521.jpeg">

        <img src="processed-4E5471FC-62DB-4AB4-8434-6A972C1DB975.jpeg">

      </div> 

    </div> 

  </div> 

</article> 


</script> 

