---
layout: default
---

<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.grid-image {
  padding: 20px;
  font-size: 18px;
  margin: 0em 0 15px;
  width: 300px;
  text-align: left;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  margin: 0em 0 15px;
  text-align: left;
  font-size: 16px;
}
.center{
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
h2 {
  margin-top: 0em;
}
.justalilmoremargin {
  margin-left: 5px;
  margin-right: 5px;
}
.justalilmoretopmargin {
  margin-top: 10px;
}
@media only screen and (max-device-width: 480px) {
  .grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding: 10px;
  }
  .grid-image {
  grid-column-start: 1;  
  grid-row-start: 1;  
  margin: 0em 0 15px;
  padding: 5px;
  font-size: 16px;
  width: 300px;
  }
  .grid-item {
  grid-column-start: 1;  
  grid-row-start: 2;  
  padding: 5px;
  font-size: 16px;
  text-align: left;
  width: 100%;
  }
}
</style>

<article class="PI">
  <div class="style">
    <div class="grid-container">
      <div class="grid-image">
        <img loading="lazy" src="../{{page.headshot}}" alt="Profile Photo">
        <b style="font-size: 20px; color: #21314d;">Dr. Yamuna Phal, PhD</b><br>
        {{page.title}}<br>
        [<a href="../{{page.cv}}" target="_blank">CV</a>]<br>
        <div>
          Email: {{page.email}} <br>
          Office: {{page.office}}<br>
        </div>
        <div class="center">
          <img class="justalilmoretopmargin" src="{{site.baseurl}}/images/mines-wordmark.png" width="100%">
          <a class="justalilmoremargin" href="https://scholar.google.com/citations?user=Rr8OH9QAAAAJ&hl=en" target="_blank"><i class="svg-icon googlescholar"></i></a>
          <a class="justalilmoremargin" href="https://www.linkedin.com/in/{{page.linkedin}}" target="_blank"><i class="svg-icon linkedin"></i></a>
          <a class="justalilmoremargin" href="https://www.twitter.com/{{page.twitter}}" target="_blank"><i class="svg-icon twitter"></i></a>
        </div>
      </div>
      <div class = "grid-item">
      </div>
    <br>
  </div>
</article>
