---
layout: default
---
<style>
  .left {
    text-align: left;
  }
</style>

<article class="publications">

    <div class="left">
      <div>
        <h2>Featured Covers</h2>
        <img loading="lazy" src="{{page.featured_covers}}" alt="cover images">
      </div>
      <div>
        <h2>Publications</h2>
        <ol>
          {% for pub in page.all_publications_ieee %}
            <li>
              {{pub.authors}},
              <b>"{{pub.title}},"</b>
              <i>{{pub.journal_or_conf}}</i>,

              {% if pub.journal_info != null %}
                {{pub.journal_info}},
              {% endif %}
              {{pub.year}}. <br>

              {% if pub.pdf_src == null %}
                [<a href="no-pdf">PDF</a>]
              {% else %}
                [<a href="{{pub.pdf_src}}">PDF</a>]
              {% endif %}

              {% if pub.doi != null%}
                DOI: <a href="https://doi.org/{{pub.doi}}">{{pub.doi}}</a>
              {% endif %}

              {% if pub.special_remarks != null %}
              | <i>{{pub.special_remarks}}</i>
              {% endif %}
            </li>
          {% endfor %}
      </ol>
      </div>
      {{content}}
    </div>
  </article>