---
layout: default
---

<style>
  .grid-container {
      display: grid;
      grid-template-columns: auto auto;
      padding: 10px;
  }
  .grid-image {
      margin: 1em 0 15px;
      padding: 20px;
      font-size: 30px;
      width: 300px;
      align-self: start;
  }
  .grid-text {
      padding: 20px;
      font-size: 16px;
      text-align: left;
  }
  .button {
      background-color: #09396c;
      border: none;
      color: #ffffff;
      padding: 10px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      border-radius: 5px;
  }
  .bottom_grid {
    grid-template-rows: subgrid;
    align-self: end;
  }
  a.name {
    color: #00264D;
  }
</style>

<article class="team">
  <div class="style">
    <h2>Principal Investigator</h2>
    <div class="grid-container">
      <div class="grid-image">
        <img src="{{page.yamuna_headshot}}">
      </div>
      <div class="grid-text">
        <h2>Yamuna Phal, PhD</h2>
        {{page.yamuna_title}}<br>
        {{page.yamuna_department}}<br><br>
        {{page.summary}}<br><br>
        <div class="bottom_grid">
          <a class="button"><b>Faculty Webpage</b></a>
          <a class="button"><b>Personal Webpage</b></a>
        </div>
      </div>
    </div>
    <h2>Graduate Students</h2>
    <div class="grid-container">
      {% for member in page.grad_members %}
        <div class="grid-image">
          <img loading="lazy" src="{{member.headshot}}" alt="Profile Photo" class="rounded">
        </div>
        <div class="grid-text">
          <h2>{{member.name}}</h2>
          {{member.ms-phd}}<br>
          {{member.dept}}<br><br>
          {{member.summary}}<br><br>
          <a class="button"><b>LinkedIn</b></a>
        </div>
      {% endfor %}
    </div>
    <h2>Lab Alumni</h2>
    {{ content }}
    </div>
</article>