---
layout: default
---
<style>
  .grid-container {
      display: grid;
      grid-template-columns: 2fr 8fr;
      padding: 10px;
  }
  .grid-image {
      margin: 0em 0 15px;
      padding: 20px;
      font-size: 30px;
      width: 300px;
      border: 2px dashed #f69c55;
  }
  .grid-text {
      padding: 20px;
      font-size: 16px;
      text-align: left;
      width: 100%;
      border: 2px dashed #f69c55;
  }
  .button {
      background-color: #09396c;
      border: none;
      color: #ffffff;
      padding: 10px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      border-radius: 5px;
  }
  .bottom_grid {
    grid-template-rows: subgrid;
    align-self: end;
  }
  a.name {
    color: #00264D;
  }
  h2 {
    margin-top: 0em;
  }
  @media only screen and (max-device-width: 480px) {
    .grid-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      padding: 10px;
    }
    .grid-image {
      grid-column-start: 1;  
      grid-row-start: 1;  
      margin: 0em 0 15px;
        padding: 5px;
        font-size: 30px;
        width: 300px;
        border: 2px dashed pink;
    }
    .grid-text {
      grid-column-start: 1;  
      grid-row-start: 2;  
        padding: 5px;
        font-size: 16px;
        text-align: left;
        width: 100%;
        border: 2px dashed pink;
    }
  }
</style>

<article class="team">
  <div class="style">
    <h2>Principal Investigator</h2>
    <div class="grid-container">
      <div class="grid-image">
        <img src="{{page.yamuna_headshot}}">
      </div>
      <div class="grid-text">
        <h2>Yamuna Phal, PhD</h2>
        {{page.yamuna_title}}<br>
        {{page.yamuna_department}}<br><br>
        {{page.summary}}<br><br>
        <div class="bottom_grid">
          <a class="button" href="{{page.yamuna_faculty_link}}"><b>Faculty Webpage</b></a>
          <a class="button" href="{{site.baseurl}}/team/about-me"><b>About Me</b></a>
        </div>
      </div>
    </div>
    <h2>Graduate Students</h2>
    <div class="grid-container">
      {% for member in page.grad_members %}
        <div class="grid-image">
          <img loading="lazy" src="{{member.headshot}}" alt="Profile Photo" class="rounded">
        </div>
        <div class="grid-text">
          <h2>{{member.name}}</h2>
          {{member.ms-phd}}<br>
          {{member.dept}}<br><br>
          {{member.summary}}<br><br>
          <a class="button" href="https://www.linkedin.com/in/{{member.linkedin-user}}"><b>LinkedIn</b></a>
        </div>
      {% endfor %}
    </div>
    {{ content }}
    </div>
</article>